<!-- Bottom Left Fixed Text -->
<div class="bg-white dark:bg-slate-800" aria-label="Global">  
    <a href="/">
      <div class="flex flex-row -m-1.5 p-1.5 gap-4">
        <i class="fa-solid fa-church fa-2x text-blue-700"></i>
        <span class="text-xl font-semibold leading-6 text-gray-900 dark:text-slate-100 mt-2">Steeple Peeps</span>
      </div>
    </a>
</div>
