<!-- Bottom Left Fixed Text -->
<div class="position-fixed bottom-0 end-0 ">
    <div class="form-check form-switch">
        <input class="form-check-input cB-custom" type="checkbox" id="flexSwitchCheckDefault" unchecked>
    </div>
</div>

