<!-- Bottom Right Darkmode Button -->
<div class="fixed bottom-5 right-5 z-50">
  <div class="flex flex-col items-center gap-6 text-blue-700">
    <span
      id="darkModeButton"
      class="fa fa-2x"
      data-te-toggle="tooltip"
      title="Light Mode / Dark Mode"
    >
    </span>
  </div>

  <script type="text/javascript" src="/js/darkModeIcons.js"></script>
</div>
