<!-- Bottom Right Darkmode Button -->
<div class="position-fixed bottom-0 end-0 ">
    <div class="form-check form-switch">
        <input 
        class="form-check-input cB-custom" 
        type="checkbox" 
        id="darkMode" 
        name="darkMode">
    </div>
</div>
<script type="text/javascript" src="/js/darkMode.js"></script>