<!-- Bottom Left Fixed Text -->
<div class="position-fixed top-0 end-0">
    <div class="me-3 mt-3 fa-2x text-primary d-flex flex-column">
        <% if (user.isAdmin) { %> 
            <a href="/dashboard"><i class="fa fa-cog"></i></a>
        <% } %>
        <a href="/userProfile/<%= user._id %>"><i class="fa-solid fa-user"></i></a>
        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket mt-3"></i></a>
        <a href="/directory"><i class="fa-regular fa-address-book mt-3"></i></a>
    </div>
</div>