<section class="profileCardContainer d-none d-flex flex-row align-items-center justify-content-center" id="profileCardContainer">
  <div class="profileCardContainerInner">
    <div class="mt-2 d-flex flex-column align-items-center">
      <img src="" alt="">
      <div>
        <h1 id="cardName">Name</h1>
        <p>Email: </p>
        <p>Phone: </p>
        <p>
          Address1<br>
          Address2<br>
          City<br>
          Country<br>
          Postal Code
         </p>
         <p>Bio:</p>
         <p>I Can Help With: </p>
         
       
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="/js/profileCard.js"></script>