.ts {
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
    color: black;
}

main {
    height: 100vh;
}

.cB-custom {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;

  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;

}

.bioForm {
    height: 135px;
}

.cmt-1 {
    margin-top: 93px;
}

.dashboardTable {
    /* position: sticky; */
    height: 60vh;
    /* overflow: hidden; */
}

.dashboardTable::-webkit-scrollbar {
    width: 10px;
}

.dashboardTable::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 1rem;
}

.dashboardTable::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgb(13, 110, 253);
    /* background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%); */
}

.stuff {
    height: 50vh;
}

.zedIndex {
    z-index: 10;
}

.imgC {
    max-width: 250px;
}

.imgC:hover {
    border: 2px solid #0d6efd;
}

.sectionC {
    position: absolute;
    height: calc(100vh - 150px);
    width: calc(100vw - 150px);
    margin-left: 50px;
    margin-right: 80px;

}